<mat-list dense>
  <h3 matSubheader>Folders</h3>
  <mat-list-item> Pepper </mat-list-item>
  <mat-list-item> Salt </mat-list-item>
  <mat-list-item> Paprika </mat-list-item>
  <mat-divider></mat-divider>
  <h3 matSubheader>Notes</h3>
  <mat-list-item> Pepper </mat-list-item>
  <mat-list-item> Salt </mat-list-item>
  <mat-list-item>
    <span>Paprika</span>
    <span fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/images/coin-copper.png" alt="copper">
      <span></span>
      <img src="assets/images/coin-silver.png" alt="silver">
      <span></span>
      <img src="assets/images/coin-gold.png" alt="gold">
      <span></span>
    </span>
  </mat-list-item>
</mat-list>
