<mat-accordion>
  <mat-expansion-panel *ngFor="let i of skills; trackBy: trackByFn;">
    <mat-expansion-panel-header>
      <mat-panel-title class="font-fell-english-sc" fxFlex="50%">
        <span class="text-uppercase m-r-8">{{i.name}}</span>
        <span>({{i.characteristic}})</span>
      </mat-panel-title>
      <mat-panel-description class="text-capitalize font-fell-dw-pica" fxFlex="50%">
        {{ (i.advanced ? 'advanced' : 'basic') + (i.grouped ? ', group' : '') }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{i.description}}</p>
  </mat-expansion-panel>
</mat-accordion>
