<mat-accordion>
  <mat-expansion-panel *ngFor="let i of skills; trackBy: trackByFn;">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-uppercase font-fell-english-sc">
        {{ i.name}}
        <span class="m-l-8">({{i.characteristic}})</span>
      </mat-panel-title>
      <mat-panel-description class="text-capitalize font-fell-dw-pica">
        {{ i.type + (i.grouped ? ', group' : '') }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!--<p><span class="text-bold m-r-8">Max:</span>{{ i.max }}</p>-->
    <!--<p *ngIf="i.test"><span class="text-bold m-r-8">Test:</span>{{ i.test }}</p>-->
    <!--<p><span class="text-bold m-r-8">Description:</span>{{ i.description }}</p>-->
  </mat-expansion-panel>
</mat-accordion>
