<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <!--<a routerLink="/rules">Rules</a>-->
    <a class="img-link" data-content="Rules" routerLink="/rules"><img src="assets/images/icons/event_15.png"></a>
  </mat-grid-tile>
  <mat-grid-tile>
    <!--<a routerLink="/maps">Maps</a>-->
    <a class="img-link"data-content="Maps" routerLink="/maps"><img src="assets/images/icons/event_45.png"></a>
  </mat-grid-tile>
  <mat-grid-tile>
    <!--<a routerLink="/lore">Lore</a>-->
    <a class="img-link"data-content="Lore" routerLink="/lore"><img src="assets/images/icons/event_44.png"></a>
  </mat-grid-tile>
</mat-grid-list>
