.img-link {
  position: relative;
  line-height: 0;
  &:hover {
    &:after {
      content: attr(data-content);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.5);
      color: #ffffff;
      font-size: 20px;
      line-height: 210px;
      text-align: center;
    }
  }
}

@import '../../../themes.scss';

:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "aside main";
  aside {
    grid-area: aside;
    .selected {
      color: $primary;
    }
    .decoration {
      position: absolute;
      bottom: -3px;
      left: 25px;
      z-index: 100;
      width: 62px;
      height: 162px;
      object-fit: fill;
      pointer-events: none;
      user-select: none;
    }
  }
  main {
    grid-area: main;
    overflow: hidden;
  }
}
