.img-link {
  position: relative;
  line-height: 0;
  &:hover {
    &:after {
      content: attr(data-content);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.5);
      color: #ffffff;
      font-size: 20px;
      line-height: 210px;
      text-align: center;
    }
  }
}
